@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can tweak these, but this makes things look decent out of the box */
html,
body {
  padding: 0;
  margin: 0;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
